body{font-family:'Microsoft Yahei';font-size:12px;color:#666;}
html,body{height:100%}

.login_top{
	width: 960px;
	height: 130px;
	margin: 0 50px;

}

.corp_logo{
	display: block;
	width: 193px;
	height: 76px;
	margin-top: 30px;
}

.login_form_bg{
	height: 480px;
	background-color: #518e17;

}
.login_form_wrap{width:960px;height:480px;margin:0 auto;}

.login_banner{

	width: 408px;
	height: 294px;
	background: url("../images/banner_logo.png") no-repeat;
	margin-top:90px;

}

.slogan{
	width: 40px;
	height: 300px;
	font-size: 30px;
	color: #f0f9e8;
	text-align:center;
	line-height: 36px;
	margin:80px 0 0 90px;
}

.login_form {
    width: 368px;
    height: 378px;
    border: 1px solid #c6c6c5;
    background-color: #fff;
    margin-top: 50px;
}


.login_title {
    height: 60px;
    width: 308px;
    margin: 10px auto;
    border-bottom: 1px solid #e0e0e0;
}

.login_title h1{
	font-size: 24px;
	font-weight: bold;
	float: left;
	color:#a8a8a8;
}


.form_input {
    width: 308px;
    height: 250px;
    margin: 20px auto 0px;
    position: relative;
}

.name_input,.pass_input{
	width: 306px;
	height: 36px;
	border: 1px solid #e0e0e0;
	background: url("../images/icons02.png") 280px -41px no-repeat #f8f8f8;
	outline: none;
	font-size: 14px;
	text-indent: 10px;
	position: absolute;
	left:0;
	top:0;
}

.pass_input{top:65px;background-position:280px -95px;}

.errmsg{
	font-size:16px ;
	font-weight: bold;
	width: 306px;
	height: 36px;
	color: red;
	margin: auto;
	text-align:center;
}

.more_input {
    position: absolute;
    left: 0;
    top: 130px;
    width: 100%;
}

.more_input input {
    float: left;
    margin-top: 2px;
}

.more_input label {
    float: left;
    margin-left: 10px;
}

.more_input a {
    float: right;
    color: #666;
}

.input_submit {
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 180px;
    background-color: #47aa34;
    color: #fff;
    font-size: 22px;
    border: 0px;
    font-family: 'Microsoft Yahei';
    cursor: pointer;
}


/* 页面底部样式 */
.footer{
	border-top:2px solid #42ad46;
	margin:30px 0;
}

.foot_link{text-align:center;margin-top:30px;}
.foot_link a,.foot_link span{color:#4e4e4e;}
.foot_link a:hover{color:#ff8800}
.foot_link span{padding:0 10px}
.footer p{text-align:center; margin-top:10px;}

.search_bar{width:1200px;height:115px;margin:0 auto;}
.logo{width:150px;height:59px;margin:29px 0 0 17px;}
.search_con{width:616px;height:38px;border:1px solid #37ab40;margin:34px 0 0 124px;background:url(../images/icons.png) 10px -338px no-repeat;}
.search_con .input_text{width:470px;height:34px;border:0px;margin:2px 0 0 36px;outline:none;font-size:12px;color:#737272;font-family:'Microsoft Yahei'}

.search_con .input_btn{
	width:100px;height:38px;background-color:#37ab40;border:0px;font-size:14px;color:#fff;font-family:'Microsoft Yahei';outline:none;cursor:pointer;
}
.user_con{
	line-height: 29px;
}
.user_con a{
	color: #666;
}

.user_con span{
	color: #cecece;
	margin: 0 10px;
}

.navbar_con{height:40px;border-bottom:2px solid #39a93e}
.navbar{width:1200px;margin:0 auto;}
.navbar h1{width:200px;height:40px;line-height:40px;text-align: center;font-size:14px;color:#fff;background-color:#39a93e;}

.center_con{width:1200px;height:300px;margin:0 auto;}
.subnav{width:198px;border-left:1px solid #eee;border-right:1px solid #eee;}
.subnav li{height:44px;border-bottom:1px solid #eee;background:url(../images/icons.png) 178px -257px no-repeat #fff;}

.subnav li a{display:block;height:44px;line-height:44px;text-indent:71px;font-size:14px;color:#333}
.subnav li a:hover{color:#ff8800}